<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

 /** @var \Magento\CatalogSearch\Helper\Data $helper */
$helper = $this->helper('Magento\CatalogSearch\Helper\Data');
?>
<!-- <div class="nested">
    <a class="action advanced" href="<?php /* @escapeNotVerified */ echo $helper->getAdvancedSearchUrl(); ?>" data-action="advanced-search">
        <?php /* @escapeNotVerified */ echo __('Advanced Search1'); ?>
    </a>
</div> -->
