.page-wrapper header.page-header {
    background-color: #074B6D;
}
.sections.nav-sections .section-items.nav-sections-items {
    background-color: #074B6D;
}
nav.navigation {
    background-color: #074B6D;
}
.page-header .panel.wrapper {
    border-bottom: 0 !important;
}
.navigation .level0>.level-top {
    color: white !important;
}
.panel.wrapper {
    padding: 1%;
}
ul.header.links a {
    color: white;
}
.minicart-wrapper .action.showcart:before {
    color: white !important;
}
.control input#search {
    background: #023B58 !important;
    height: 35px;
}
.img img {
    float: right;
    width: 10%;
    padding-right: 9%;
    margin-top: -4%;
}

.block-search .action.search:before {
    color: white !important;
}
footer.page-footer {
    background-color: #e2e3e6;
}
ul.footer.links a {
    color: black;
}
.control input#newsletter {
    background: #e2e3e6 !important;
    height: 41px;
}
.on_container .block.newsletter {
    width: 82%;
}
.actions button.action.subscribe.primary {
    background: #e2e3e6;
    border: 1px solid #c2c2c2;
    text-transform: uppercase;
}
button.action.subscribe.primary {
    color: #808080;
}
img, object, video, embed {
    max-width: 49.8%;
    height: auto;
}
.new.products .product-item-info {
    border: 1px solid #ededed;
    padding: 10px;
}
.new.products .product-item-actions {
    display: none;
}
.featuredproduct .product-item-actions {
    display: none;
}
.block.newsletter .field .control:before {
   margin-top: 4px;
}
.minicart-wrapper {
    margin-top: -3%;
    background: #023B58;
}

span.old-price {
    display: none;
}
.logo img {
    width: 30%;
}
.new.products .block-title {
    font-family: fantasy;
    font-weight: bold;
    font-size: 20px;
}
.featuredproduct .block-title{
    font-family: fantasy;
    font-weight: bold;
    font-size: 20px;
}
.saleproduct .block-title{
    font-family: fantasy;
    font-weight: bold;
    font-size: 20px;
}
.bestseller .block-title{
    font-family: fantasy;
    font-weight: bold;
    font-size: 20px;
}
p.links {
   margin-top: 4%;
    padding-left: 19%;
    font-weight: bold;
}
.color {
    padding-left: 19%;
}
p.touch {
    font-weight: bold;
}
.field.newsletter {
    padding-left: 0;
}
.block.newsletter input {
    padding-left: 34px;
}
.one_container .block.newsletter {
    padding-left: 3%;
    width: 80%;
}
.block.newsletter .action.subscribe {
    border-radius: 0 !important;
}
a {
    margin: 4px 0;
    display: block;
    color: black;
    text-decoration: none;
}
h3.foot.form {
    font-weight: bold;
    font-size: 14px;
    margin-top: 4%;
}
.two1_container {
    margin-top: 4%;
}
.one_container {
    float: left;
    width: 20%;
    margin-top: 21px;
}
.oneeee_container {
    width: 50%;
    float: left;
}
button.action.subscribe.primary {
    height: 41px;
}
.on_container {
    width: 30%;
    float: right;
    margin-top: 10px;
}
.on_container .block.newsletter {
    width: 75%;
}
.two_container {
   padding-left: 40px;
}
strong.logo {
    margin-top: -3%;
}
.copy {
    padding-top: 12%;
    padding-bottom: 1%;
    margin-top: 3%;
    padding-left: 6%;
}
.minicart-wrapper {
    margin-top: -3%;
}
.block.block-search {
    margin-top: -3%;
}
.sections.nav-sections span {
    text-transform: uppercase;
}
.minicart-wrapper .action.showcart:after {
    -webkit-font-smoothing: antialiased;
    font-size: 35px;
    line-height: 33px;
    color: #8f8f8f;
    content: '\e611';
    font-family: 'icons-blank-theme';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    display: none;
}
.header.content a.action.showcart span.text {
    clip: auto;
    height: 100%;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: auto;
    color: white;
    padding: 5px 8px;
    top: 5px;
}
.two2_container {
    padding-right: 22px;
}
.copy p {
    padding-left: 4%;
}
.copy {
    clear: both;
  /*border-top: 1px solid #c9cec9;*/
    padding: 2%;
}
a.action.showcart {
    border: 1px solid #ededed;
    margin-top: 0px;
}
@media only screen and (max-device-width : 1024px) {
    .two1_container {
        margin-top: 4%;
        padding-left: 18px;
    }
    .two2_container {
    margin-top: 13px;
}
   .copy p {
    padding-left: 2%;
   }
   .two_container {
    padding-left: 1px;
  }
  .on_container {
    width: 30%;
    float: right;
}
@media screen and (max-width: 768px){
    img, object, video, embed {
      max-width: 100%;
    }
    .one_container {
      width: 30%;
    }
    .two1_container {
        margin-top: 9%;
    }
    .on_container .block.newsletter {
       width: 100%;
    }
    .oneeee_container {
       width: 40%;
    }
    .copy p {
       padding-left: 4%;
    }
    .two2_container {
        margin-top: 18px;
    }
    .two_container {
    padding-left: 3px;
   }
}

@media only screen and (min-device-width : 320px)  and (max-device-width : 480px) {
    .new.products .product-item-info {
        margin-bottom: 11%;
    }
    .minicart-wrapper {
        margin-top: -1%;
    }
     .two_container {
        padding: 0;
    }
    .oneeee_container {
        width: 70%;
        padding-left: 4px;
    }
    .on_container {
       width: 100%;
       /*padding-left: 38px;*/
    }
    .on_container .block.newsletter {
       width: 40%;
    }
   .two2_container {
    padding-left: 21px;
    }
    .copy p {
        margin-top: -26px;
       padding-left: 4%;
       margin-bottom: 8%;
    }
    .color {
      width: 100%;
    }
    .on_container .block.newsletter {
    width: 90%;
    }  
    .logo img {
    width: 44px;
   }
   .logo {
    max-width: 40%;
   }
   .one_container {
    width: 35%;
   }
   .block.newsletter .actions {
    display: block;
    vertical-align: top;
    width: 1%;
    margin-top: 10px;
  }
  .img img {
    float: left;
    padding: 12px;
    padding-left: 19px;
    width: 24%;
    margin-top: -37px;
  }
}
