<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="footer-container">
    <div class="footer">
        <div class="one_container">
            <div class="two_container">
                <?php echo $block->getChildHtml() ?>
                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_block1')->toHtml();?>
            </div>
        </div>
        <div class="oneeee_container">
            <div class="two1_container">
                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_block2')->toHtml();?>
            </div>
        </div>
        <div class="on_container">
            <div class="two2_container">
                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_block3')->toHtml();?>
            </div>
        </div>
         <div class="o_container">
            <div class="t2_container">
                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('f5')->toHtml();?>
            </div>
        </div>

        <div class ="images">
            <div class ="copy">
               <p>@copyrights</p>
            </div>
            <div class ="img">
               <img src='<?php echo $this->getViewFileUrl('images/whole.png'); ?>' alt="Demo">
             </div>
         </div>
   </div>
</div>
