.minicart-wrapper .action.showcart:before {
    -webkit-font-smoothing: antialiased;
    font-size: 35px;
    line-height: 33px;
    color: #8f8f8f;
    content: '\e611';
    font-family: 'icons-blank-theme';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    display:none;
}
.minicart-wrapper .action.showcart.active:before {
    -webkit-font-smoothing: antialiased;
    font-size: 35px;
    line-height: 33px;
    color: #8f8f8f;
    content: '\e611';
    font-family: 'icons-blank-theme';
    margin: 0;
    vertical-align: top;
    display: none;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    display:none;
}
i.fa.fa-shopping-basket {
    font-size: 29px;
    color: #8f8f8f;
}
.navigation li.level0 {
    border-style: solid;
    border-width: 0 1px;
    border-color: transparent #ffffff transparent rgba(0, 0, 0, 0.15);
    /* border-top: none; */
    border-style: solid;
    margin: 0;
    display: inline-block;
    position: relative;
}
ul#ui-id-2 {
    padding: 5px 8px 9px;
}
.sections.nav-sections {
    background: transparent url(../images/nav_container.gif) no-repeat 50% 100%;
}